.page-container {
  background-color: #fff4f1;
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  padding-left: 200px;

  min-height: 100vh;
  vertical-align: middle;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fee9e1;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  flex: 1;
  padding: 40px;
}

.text {
  font-family: "Delight Candles";
}

.error {
  background-color: #c8718b;
  padding: 20px;
  border-radius: 20px;
}

.entry-file-area {
  width: 250px;
  height: 150px;
  border: none;
  padding: 20px;
  border-radius: 20px;
  font-family: "Delight Candles";
}

.entry-file-area:focus-visible {
  outline: none;
}

.btn {
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  background-color: #976d90;
  font-family: "Delight Candles";
  color: white;
  min-width: 400px;
}

.btn:hover {
  background-color: #c8718b;
  cursor: pointer;
}

.map {
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
}
.map-element {
  background-color: #fdd7c6;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  max-height: 40px;
  padding: 5px;
}

.map-treasure-container {
  width: 40px;
  height: 40px;
}

.map-icon {
  width: 30px;
  height: 30px;
}

.map-treasure-count {
  position: relative;
  bottom: 40px;
  left: 25px;
  height: 20px;
  width: 20px;
  align-content: center;
  padding: 5px;
}

.facing-east {
  transform: rotate(0deg);
}

.facing-south {
  transform: rotate(90deg);
}

.facing-west {
  transform: rotate(180deg);
}

.facing-north {
  transform: rotate(-90deg);
}
